{% extends "shared/base.html" %}

{% block title %}
    <title>David Lybeck</title>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/map.css">
    <div class="map">
        <div class="mini-window-container">
            <div class="close-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M6 6L18 18M6 18L18 6" 
                          stroke="currentColor" 
                          stroke-width="2" 
                          stroke-linecap="round" 
                          fill="none"/>
                </svg>
            </div>
            <div class="back-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M15 6L9 12L15 18" 
                          stroke="currentColor" 
                          stroke-width="2" 
                          stroke-linecap="round" 
                          stroke-linejoin="round" 
                          fill="none"/>
                </svg>
            </div>
            <iframe class="mini-window"></iframe>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
