{% extends "shared/page.html" %}

{% block title %}
    <title>Work Experience | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
    <h2 id="location">Work Experience</h2>

    <div class="section">
        <h2>General Resume</h3>
        <div class="pdf">
            <embed src="/static/PDF/Resume_DavidLybeck.pdf"/>
        </div>
    </div>

    <div class="section">
        <h2>Work History</h3>
    </div>

    <div class="section">
        <img src="/static/images/Work/2ndChair.webp" height="100px" width="auto">
        <h3>2nd Chair Software Engineering Intern</h3>
        <p>June 2024 - September 2024<br>
        Developed and researched innovative software solutions to improve AI document parsing, relevance, and accuracy.</p>
    </div>

    <div class="section">
        <img src="/static/images/Work/Tech.webp" height="100px" width="auto">
        <h3>University of Puget Sound Technology Services Assistant II</h3>
        <p>August 2022 - Current<br>
        Answering phone calls and tickets from UPS faculty, staff and incoming students about varying tech issues. Then either helping fix those issues, or passing them to the correct people.</p>    
    </div>

    <div class="section">
        <img src="/static/images/Work/TCGC.webp" height="100px" width="auto">
        <h3>Tacoma Country and Golf Club Tennis Instructor</h3>
        <p>July 2023 - August 2023<br>
        Coaching tennis to groups of kids with varying tennis abilities, from ages 6 to 15. And private coaching for all ages.</p>    
    </div>

    <div class="section">
        <img src="/static/images/Work/GTC.webp" height="100px" width="auto">
        <h3>Galbraith Tennis Center On Court Associate</h3>
        <p>July 2023 - August 2023<br>
        Coaching tennis to groups of adults and kids with varying tennis abilities, from ages 5 to 18.</p>
    </div>

    <div class="section">
        <img src="/static/images/Work/PTC.webp" height="100px" width="auto">
        <h3>Portland Tennis Center Assistant Coach</h3>
        <p>June 2022 - January 2023<br>
        Helping coach tennis to groups of kids with a wide range of abilities from ages 4 to 18.</p>
    </div>

    <div class="section">
        <img src="/static/images/Work/Tech.webp" height="100px" width="auto">
        <h3>Univeristy of Puget Sound Technology Services Assistant I</h3>
        <p>January 2022 - May 2022<br>
        Answering phone calls from UPS faculty, staff and incoming students about varying tech issues. Then either helping fix those issues, or passing them to the correct people.</p>
    </div>
</div>
{% endblock %}