{% extends "shared/page.html" %}

{% block title %}
    <title>Gaming | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
    <h2 id="location">Gaming</h2>
    <p>When I have free time, video games are another thing I enjoy doing. I tend to like shorter games, so over the past few years and I've cycled thorugh a lot of them. So here's a list of games I've really enjoyed:
      <br>
      <br>
    </p>
      <img class="game" src="/static/images/hobbies/gaming/Cyberpunk.png">
      <img class="game" src="/static/images/hobbies/gaming/HighOnLife.png">
      <img class="game" src="/static/images/hobbies/gaming/MKWii.png">
      <img class="game" src="/static/images/hobbies/gaming/Subnautica.png">
      <img class="game" src="/static/images/hobbies/gaming/SubnauticaBZ.png">
      <img class="game" src="/static/images/hobbies/gaming/EdithFinch.png">
      <img class="game" src="/static/images/hobbies/gaming/SoT.png">
      <img class="game" src="/static/images/hobbies/gaming/Minecraft.png">
      <img class="game" src="/static/images/hobbies/gaming/NMS.png">
      <img class="game" src="/static/images/hobbies/gaming/Portal.png">
      <img class="game" src="/static/images/hobbies/gaming/Portal2.png">
      <img class="game" src="/static/images/hobbies/gaming/Trackmania.png">
      <img class="game" src="/static/images/hobbies/gaming/Valorant.png">
      <img class="game" src="/static/images/hobbies/gaming/Apex.png">
      <img class="game" src="/static/images/hobbies/gaming/Firewatch.png">
      <img class="game" src="/static/images/hobbies/gaming/OuterWilds.png">
      <img class="game" src="/static/images/hobbies/gaming/Titanfall.png">
      <img class="game" src="/static/images/hobbies/gaming/Titanfall2.png">
      <img class="game" src="/static/images/hobbies/gaming/road96.png">
      <img class="game" src="/static/images/hobbies/gaming/ForeverSkies.png">

    <button onclick="toTop()" id="topBtn" title="Go to top">Top</button>
  </div>
{% endblock %}