{% extends "shared/page.html" %}

{% block title %}
    <title>Gaming | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
  <h2 id="location">Gaming</h2>
  <div class="section">
    <p>When I have free time, video games are another thing I enjoy doing. I tend to like shorter games, so over the past few years and I've cycled thorugh a lot of them. So here's a list of games I've really enjoyed:</p>
  </div>
  <div class="section">
    <img class="game" src="/static/images/hobbies/gaming/Cyberpunk.webp">
    <img class="game" src="/static/images/hobbies/gaming/HighOnLife.webp">
    <img class="game" src="/static/images/hobbies/gaming/MKWii.webp">
    <img class="game" src="/static/images/hobbies/gaming/Subnautica.webp">
    <img class="game" src="/static/images/hobbies/gaming/SubnauticaBZ.webp">
    <img class="game" src="/static/images/hobbies/gaming/EdithFinch.webp">
    <img class="game" src="/static/images/hobbies/gaming/SoT.webp">
    <img class="game" src="/static/images/hobbies/gaming/Minecraft.webp">
    <img class="game" src="/static/images/hobbies/gaming/NMS.webp">
    <img class="game" src="/static/images/hobbies/gaming/Portal.webp">
    <img class="game" src="/static/images/hobbies/gaming/Portal2.webp">
    <img class="game" src="/static/images/hobbies/gaming/Trackmania.webp">
    <img class="game" src="/static/images/hobbies/gaming/Valorant.webp">
    <img class="game" src="/static/images/hobbies/gaming/Apex.webp">
    <img class="game" src="/static/images/hobbies/gaming/Firewatch.webp">
    <img class="game" src="/static/images/hobbies/gaming/OuterWilds.webp">
    <img class="game" src="/static/images/hobbies/gaming/Titanfall.webp">
    <img class="game" src="/static/images/hobbies/gaming/Titanfall2.webp">
    <img class="game" src="/static/images/hobbies/gaming/road96.webp">
    <img class="game" src="/static/images/hobbies/gaming/ForeverSkies.webp">

  </div>
</div>
{% endblock %}