{% extends "shared/page.html" %}

{% block title %}
    <title>Gaming | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
  <h2 id="location">Gaming</h2>
  <div class="section">
    <p>When I have free time, video games are another thing I enjoy doing. I tend to like shorter games, so over the past few years and I've cycled thorugh a lot of them. So here's a list of games I've really enjoyed:</p>
  </div>
  <div class="section">
    <img class="game" src="/static/images/hobbies/gaming/Cyberpunk.webp" alt="Cyberpunk 2077 cover art">
    <img class="game" src="/static/images/hobbies/gaming/HighOnLife.webp" alt="High on Life cover art">
    <img class="game" src="/static/images/hobbies/gaming/MKWii.webp" alt="Mario Kart Wii cover art">
    <img class="game" src="/static/images/hobbies/gaming/Subnautica.webp" alt="Subnautica cover art">
    <img class="game" src="/static/images/hobbies/gaming/SubnauticaBZ.webp" alt="Subnautica Below Zero cover art">
    <img class="game" src="/static/images/hobbies/gaming/EdithFinch.webp" alt="What Remains of Edith Finch cover art">
    <img class="game" src="/static/images/hobbies/gaming/SoT.webp" alt="Sea of Thieves cover art">
    <img class="game" src="/static/images/hobbies/gaming/Minecraft.webp" alt="Minecraft cover art">
    <img class="game" src="/static/images/hobbies/gaming/NMS.webp" alt="No Man's Sky cover art">
    <img class="game" src="/static/images/hobbies/gaming/Portal.webp" alt="Portal cover art">
    <img class="game" src="/static/images/hobbies/gaming/Portal2.webp" alt="Portal 2 cover art">
    <img class="game" src="/static/images/hobbies/gaming/Trackmania.webp" alt="Trackmania cover art">
    <img class="game" src="/static/images/hobbies/gaming/Valorant.webp" alt="Valorant cover art">
    <img class="game" src="/static/images/hobbies/gaming/Apex.webp" alt="Apex Legends cover art">
    <img class="game" src="/static/images/hobbies/gaming/Firewatch.webp" alt="Firewatch cover art">
    <img class="game" src="/static/images/hobbies/gaming/OuterWilds.webp" alt="Outer Wilds cover art">
    <img class="game" src="/static/images/hobbies/gaming/Titanfall.webp" alt="Titanfall cover art">
    <img class="game" src="/static/images/hobbies/gaming/Titanfall2.webp" alt="Titanfall 2 cover art">
    <img class="game" src="/static/images/hobbies/gaming/road96.webp" alt="Road 96 cover art">
    <img class="game" src="/static/images/hobbies/gaming/ForeverSkies.webp" alt="Forever Skies cover art">

  </div>
</div>
{% endblock %}
