{% extends "shared/page.html" %}

{% block title %}
    <title>Tennis | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="container"> 
        <h2 id="location">Tennis</h2>

        <div class="section">
          <p>I've played tennis for as long as I can remember, playing competitively since around middle school. It's become a way for me to get my mind off of everything and take a break. I played four years on my high school's varsity team, and 4 years on the University of Puget Sound team. </p>
  
          <img src="/static/images/hobbies/spin.webp" height="350px" width="auto">
          <img src="/static/images/hobbies/Forehand.webp"  width="80%" height="auto">
        </div>

        <div class="section">
          <p>Current rankings and profiles:
            <br>
            <a class="link" target="_parent" href="https://loggerathletics.com/sports/mens-tennis/roster/david-lybeck/8842">University of Puget Sound Tennis Profile</a>
            <br>
            <a class="link" target="_parent" href="https://worldtennisnumber.com/eng/player-profile?id=60a4ed89bf0fe5a69879dcdf">World Tennis Number</a>
            <br>
            <a class="link" target="_parent" href="https://app.universaltennis.com/profiles/202815">Universal Tennis Rating</a>
          </p>
        </div>
      </div>
{% endblock %}