{% extends "shared/page.html" %}

{% block title %}
    <title>Tennis | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="container"> 
        <h2 id="location">Tennis</h2>
        <p>I've been playing tennis for as long as I can remember, and playing competitively since around middle school. Since I've been playing for so long, it's become a way for me to just get my mind off of things and take a break from everything else I do. Over the years I've gotten better and played all four years on my high school's varsity team, and so far played for 3 years on the University of Puget Sound Team. </p>
  
        <img src="/static/images/hobbies/spin.webp" height="350px" width="auto">
        <img src="/static/images/hobbies/Forehand.webp" height="auto" width="75%">
  
        <br>
        <br>
  
        <p>Current rankings and profiles:
          <br>
          <a class="link" target="_parent" href="https://loggerathletics.com/sports/mens-tennis/roster/david-lybeck/8842">University of Puget Sound Tennis Profile</a>
          <br>
          <a class="link" target="_parent" href="https://worldtennisnumber.com/eng/player-profile?id=60a4ed89bf0fe5a69879dcdf">World Tennis Number</a>
          <br>
          <a class="link" target="_parent" href="https://app.universaltennis.com/profiles/202815">Universal Tennis Rating</a>
        </p>
        
  
        <button onclick="toTop()" id="topBtn" title="Go to top">Top</button>
      </div>
{% endblock %}