{% extends "shared/page.html" %}

{% block title %}
    <title>Puzzles | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="container"> 
            <h2 id="location">Other Models</h2>
            <p>Here are some of the models I've designed that aren't puzzles</p>
    
            <div class="models">
                <h3>Samsung Galaxy S20 FE case (1,700+ downloads):</h3>
                <a href="https://www.printables.com/model/102978-samsung-galaxy-s20-fe-bumper-phone-case" target="_blank">Printables</a>
                <a href="https://www.thingiverse.com/thing:5171286" target="_blank">Thingiverse</a>
                <a href="https://www.myminifactory.com/object/3d-print-samsung-galaxy-s20-fe-bumper-phone-case-201148" target="_blank">My Mini Factory</a>
                <a href="https://cults3d.com/en/3d-model/gadget/dlybeck383" target="_blank">Cults</a>
                <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/SamsungCase/S20FECase.glb"
                alt="A 3D model" auto-rotate camera-controls
                poster="/static/images/hobbies/3DModelIcon.png"></model-viewer>
    
                <h3>Google Pixel 3 case (250+ downloads):</h3>
                <a href="https://www.thingiverse.com/thing:4197920" target="_blank">Thingiverse</a>
                <a href="https://cults3d.com/en/3d-model/gadget/x-case-minimal-google-pixel-3-case" target="_blank">Cults</a>
                <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/PixelCase/PixelCase.glb"
                alt="A 3D model" auto-rotate camera-controls
                poster="/static/images/hobbies/3DModelIcon.png"></model-viewer>
                
                <h3>Tech Accessory Organizer (50+ downloads):</h3>
                <a href="https://cults3d.com/en/3d-model/tool/tech-organizer-dlybeck383" target="_blank">Cults</a>
                <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/ChargerOrganizer/ChargerOrganizer.glb"
                alt="A 3D model" auto-rotate camera-controls
                poster="/static/images/hobbies/3DModelIcon.png"></model-viewer>
    
                <h3>Jewelry Box (Currently Private):</h3>
                <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/JewelryBox/JewelryBox.glb"
                alt="A 3D model" auto-rotate camera-controls
                poster="/img/3DModelIcon.png"></model-viewer>
                <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/static/3Dmodels/JewelryBox/JewelryBox_Open.glb"
                alt="A 3D model" auto-rotate camera-controls
                poster="/static/images/hobbies/3DModelIcon.png"></model-viewer>
          </div>
      </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
{% endblock %}