{% extends "shared/page.html" %}

{% block title %}
    <title>Puzzles | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="container"> 

          <h2 id="location">Puzzles</h2>
          <p>Here are some of the puzzles I've designed</p>
  
          <div class="models">
            <div class="section">
              <h3>My first puzzle box (35,000+ downloads): </h3>
              <a target="_parent" href="https://www.printables.com/model/40017-puzzle-box-easy-to-print-hard-to-solve" target="_blank">Printables</a>
              <a target="_parent" href="https://www.thingiverse.com/thing:4583356" target="_blank">Thingiverse</a>
              <a target="_parent" href="https://www.myminifactory.com/object/3d-print-puzzle-box-easy-to-print-hard-to-solve-v1-132913" target="_blank">My Mini Factory</a>
              <a target="_parent" href="https://cults3d.com/en/3d-model/game/puzzle-box-easy-print-hard-solution-version-1" target="_blank">Cults</a>
              <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/FirstPuzzle/FirstPuzzle.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
              <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/static/3Dmodels/FirstPuzzle/FirstPuzzle_Open.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
            </div>
  
            <div class="section">
              <h3>The couch puzzle box (3,000+ downlaods):</h3>
              <a target="_parent" href="https://www.printables.com/model/42742-couch-puzzle-box-moved-to-my-mini-factory-only-no-" target="_blank">Printables</a>
              <a target="_parent" href="https://www.thingiverse.com/thing:4628711" target="_blank">Thingiverse</a>
              <a target="_parent" href="https://cults3d.com/en/3d-model/game/couch-puzzle-box-sequential-puzzle-box" target="_blank">Cults</a>
              <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/CouchPuzzle/CouchPuzzle.glb"
              alt="A 3D model" auto-rotate camera-controls    
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
              <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/static/3Dmodels/CouchPuzzle/CouchPuzzle_Open.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
            </div>
  
            <div class="section">
              <h3>Simple block puzzle (250+ downloads):</h3>
              <a target="_parent" href="https://www.printables.com/model/105727-simple-block-puzzle" target="_blank">Printables</a>
              <a target="_parent" href="https://www.thingiverse.com/thing:5174606" target="_blank">Thingiverse</a>
              <a target="_parent" href="https://www.myminifactory.com/object/3d-print-simple-block-puzzle-201450" target="_blank">My Mini Factory</a>
              <a target="_parent" href="https://cults3d.com/en/3d-model/game/simple-block-puzzle" target="_blank">Cults</a>
              <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/BlockPuzzle/BlockPuzzle.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
              <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/static/3Dmodels/BlockPuzzle/BlockPuzzle_Solved.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
            </div>
  
            <div class="section">
              <h3>The gift puzzle box (250+ downloads):</h3>
              <a target="_parent" href="https://www.printables.com/model/325862-gift-puzzle-a-multi-step-puzzle-box" target="_blank">Printables</a>
              <a target="_parent" href="https://cults3d.com/en/3d-model/game/gift-puzzle-a-multi-step-puzzle-box" target="_blank">Cults</a>
              <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/GiftPuzzzle/GiftPuzzle.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
              <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/static/3Dmodels/GiftPuzzzle/GiftPuzzle_Open.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
            </div>
  
            <div class="section">      
              <h3>The Sliding puzzle box (Currently Private):</h3>
              <model-viewer id="main-puzzle" shadow-intensity="1" src="/static/3Dmodels/SlidingPuzzle/SlidingPuzzle.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
              <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/static/3Dmodels/SlidingPuzzle/SlidingPuzzle_Open.glb"
              alt="A 3D model" auto-rotate camera-controls
              poster="/static/images/hobbies/3DModelIcon.webp"></model-viewer>
            </div>
          </div>
        </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
{% endblock %}