html {
  height: 100%;
}

body{
  transition: none;
  height: 100%;
  /* Higher quality laoded in through js after dom is laoded (for better initial loading speeds */
  background-image: url("/static/images/sand512.png");
  transition: all 0.4s ease;
  background-repeat: repeat;
  overflow: scroll;
  background-size: 101%;
}

iframe {
  width: 100%;
  height: 90%;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(135deg, #006699, #005588);
  width: fit-content;
  max-width: 80%;
}

.navbar-content {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 12px 0px 12px;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-logo {
  height: 2.5rem; 
  width: auto;
  object-fit: contain;
  border: 2px solid #FFFFFF;
  margin-right: 8px;
}

.home-button {
  cursor: pointer;
  position: relative;
  opacity: 0;
  visibility: hidden;
  filter: brightness(0) invert(1);
  transition: all 0.4s ease;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

.home-button.visible {
  opacity: 1;
  visibility: visible;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-left: 8px;
}

.home-button:hover {
  transform: scale(1.1);
}
