html {
    background-color: #FFFFFF;
    text-align: center;
}

header {
    background-color: #006699;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
}

header h1 {
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.container {
    z-index: 1;
    position: relative;
    padding: 0px;
    margin: 0%;
    background-color: #fff;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
}

h2 {
    display: block;
    text-align: center;
    color: #006699;
    margin-top: 15px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

#location {
    margin-top: 30px;
}

p {
    display: block;
    line-height: 1.5;
    margin: 7%, 0%;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

p.caption {
    margin: 10;
    text-align: center;
}

dl {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

dt {
    text-align: center;
}

.link {
    text-decoration-color: blue;
    text-decoration: underline;
}

.link:hover {
    text-decoration-color: darkblue;
}

#buttonHolder {
    text-align: center;
}

#button {
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 50px; /* Place the button at the bottom right of the page */
    right: 50px;
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: #006699;
    color: white;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

img {
    display: block;
    object-fit: contain;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.media { 
    width: 70%;
    height: 70%; 
    object-fit: contain;
    border-radius: 15px;
}

.small-media { 
    width: 25%;
    height: 25%; 
    object-fit: contain;
    border-radius: 15px;
}

iframe { 
    aspect-ratio: 2/1;
    width: 100%; 
    object-fit: contain;
    border-radius: 15px;
    overflow: scroll;
}

.code {
    aspect-ratio: 3/2;
}

.game {
    height: 350px;
    width: auto;
    display: inline;
    margin: 5px;
}


model-viewer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 600px;
    height: 400px;
    background-color: #006699;
    border-radius: 40px;
}

.models a{
    display: block;
    color: #006699;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.models a:hover{
    text-decoration: underline;
}

@media (max-width: 600px) {
    p {
        padding-left: 5%;
        padding-right: 5%;
    }

    .game {
        height: 225px;
    }

    model-viewer{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 300px;
        height: 200px;
        background-color: #006699;
        border-radius: 40px;
    }
}