header {
    background-color: #006699;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
}

header h1 {
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.container {
    z-index: 1;
    position: relative;
    padding: 0px;
    margin: 0%;
    background-color: #fff;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
}

h2 {
    display: block;
    text-align: center;
    color: #006699;
    margin-top: 15px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

#location {
    margin-top: 30px;
}

p {
    display: block;
    line-height: 1.5;
    margin: 7%;
    margin-top: 0px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

p.caption {
    margin: 10;
    text-align: center;
}

dl {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

dt {
    text-align: center;
}

.link {
    text-decoration-color: blue;
    text-decoration: underline;
}

.link:hover {
    text-decoration-color: darkblue;
}

#buttonHolder {
    text-align: center;
}

#button {
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 50px; /* Place the button at the bottom right of the page */
    right: 50px;
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: #006699;
    color: white;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#predictBtn {
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: #006699;
    color: white;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
}

#predictBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#result {
    display: block;
    border: none;
    outline: none;
    background-color: #006699;
    color: white;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 220px;
    margin-right: 220px;
}

img {
    display: block;
    object-fit: contain;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.media { 
    width: 50%;
    height: 50%; 
    object-fit: contain;
    border-radius: 15px;
}

.small-media { 
    width: 25%;
    height: 25%; 
    object-fit: contain;
    border-radius: 15px;
}

iframe { 
    aspect-ratio: 2/1;
    width: 100%; 
    object-fit: contain;
    border-radius: 15px;
}

.code {
    aspect-ratio: 3/2;
}

.game {
    height: 350px;
    width: auto;
    display: inline;
    margin: 5px;
}


.mini-window-container {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: all .4s ease;
}

.mini-window {
    width: 100%;
    height: 100%;
    box-shadow: 15px 10px 5px #444;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px; 
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1001;
}

.close-button:hover {
    background: #ddd;
}


model-viewer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 600px;
    height: 400px;
    background-color: #006699;
    border-radius: 40px;
}

.models a{
    display: block;
    color: #006699;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.models a:hover{
    text-decoration: underline;
}

@media (max-width: 480px) {
    p {
        padding-left: 5%;
        padding-right: 5%;v 
    }
    .game {
        height: 225px;
    }
}