{% extends "shared/page.html" %}

{% block title %}
    <title>Programs | David Lybeck</title>
{% endblock %}

{% block content %}
  <style>
    .section h4 {
      margin-bottom: 0;
    }

    br {
      margin: 10px;
    }
  </style>

  <div class="container"> 
    <h2 id="location">Programs</h2>

    <div class="section">
      <h3>Featured Programs</h3>

      <a class="link" target="_parent" href="https://github.com/mattzou1/NBA-predictor">(2024 - Python) Recurrent Neural Network/Naive bayes NBA game predictor</a><br>
      <br>
      <a class="link internal-link" href="/projects/nba_predictions">Test it out!</a><br>
      <br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/AI/tree/main/HW_2">(2024 - Python) Negamax Connect 4 bot</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/Algorithms/tree/main/Assignment4/src">(2023 - Java) Red Black Tree Binary Search</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/AI/tree/main/HW_1">(2024 - Python) A* Sliding Puzzle Solver</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/cs475-hwk2-heapsort">(2024 - C) Heap Sort</a><br>  
    </div>

    <div class="section">
      <h3>2024</h3>

      <h4>Python</h4>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/AI/tree/main/HW_5">Representative voting history by K-Means</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/AI/tree/main/HW_4">onvolutional Neural Network cat vs dog detector</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/AI/blob/main/HW_3">Representative voting history by Decision Tree</a><br>
  
      <h4>C</h4>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/cs475-hwk5-mmm">Parallel Matrix Multiplication</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/cs475-hwk4-os-dsh">Mini Shell</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/cs475-hwk3-ls2">ls Command Recreation</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/cs475-hwk6-ts-hashmap">Hash Map</a><br>  
    </div>
    
    <div class="section">
      <h3>2023</h3>

      <h4>Java</h4>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/Algorithms/tree/main/Assignment%206/src">Digraph and Topological Sort for Strings</a><br>
      <a class="link" target="_parent" href="https://github.com/Dlybeck/Algo2">Priority Queue</a><br>
  
      <h4>Haskell</h4>
      <a class="link" href="/static/programs/Haskell/EvilHangman.hs">Evil Hangman File</a><br>
      <a class="link" target="_parent" href="http://tpcg.io/29H42X">Run Evil Hangman Demo</a><br>
  
      <h4>Prolog</h4>
      <a class="link" target="_parent" href="https://swish.swi-prolog.org/p/Covid-Test.pl">Mass Covid Test Process</a>
    </div>

    <div class="section">
      <h3>2022</h3>

      <h4>Java</h4>
      <a class="link" href="/static/programs/Java/SelectionSort.zip">(2022) Selection Sort</a><br>
      <a class="link" href="/static/programs/Java/QuickSort.zip">(2022) Quick Sort</a><br>
      <a class="link" href="/static/programs/Java/InsertionSort.zip"> (2022) Insertion Sort</a><br>
      <a class="link" href="/static/programs/Java/HeapSort.zip">(2022) Heap Sort</a><br>
    </div>

    <div class="section">
      <h3>2021</h3>
      <a class="link" href="/static/programs/Java/BubbleSort.zip">(2021) Bubble Sort</a><br>
      <a class="link" href="/static/programs/Java/BitwiseHash.zip">(2021)Bitwise to Hash</a><br>
    </div>

  </div>


{% endblock %}