{% extends "shared/page.html" %}

{% block title %}
    <title>Digital Planner | David Lybeck</title>
{% endblock %}

{% block content %}
    <div class="container"> 
        <h2 id="location">Digital Planner</h2>
        <p>Digital Planner is an web application me and a team of 4 other people worked on for our Software Engineering course. Overall we worked on this project for just over 
           two months, and it was split into two "sprints" where we try to get everything in a working order by the end. The project was intended to help teach us how to code 
           in team environments, we did this by using github and trello, aswell as having daily meetings discussing our progress. Although our "final" product wasn't close to 
           done, we were pretty happy with our progress, and I like to think of the current state of it as a sort of proof of concept.</p>
  
        <h3>November 1st 2022 (End of Sprint 1)</h3>
        <video class="media" poster="/static/images/projects/digital_planner/Sprint1Thumb.png" controls>
          <source src="/static/images/projects/digital_planner/DP_Old.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <p>In sprint 1 I worked on a few different features. I worked closely with one of my teamates by making assignents show up correctly when created, 
          while my teamate made the add assignment menu, ending up with a functional add assignment button. Then I also figured out and implemented the 
          drag and drop feature for the assignments when you add them to the calander.</p>
        <h3>December 15th 2022 (End of Sprint 2)</h3>
        <video class="media" controls>
          <source src="/static/images/projects/digital_planner/DP_New.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        <p>In sprint 2 I worked a lot more with the drag and drop. This included adding events to go along with the assignments, adjusting the way the calander
           changes when adding different length events/assignments preventing overlapping events/assignments, implementing scrolling on the calander, and many more
            smaller changes and fixes. </p>
    </div>
{% endblock %}