{% extends "shared/page.html" %}

{% block title %}
    <title>This Website | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
    <h2 id="location">This Website</h2>

    <h4>Check out the processes behind developing this website:</h4>
    <br>
    <nav class="section document-actions" aria-label="Portfolio version history">
        <a class="link internal-link" href="/projects/websites/this_website/v1">Version 1</a>
        <a class="link internal-link" href="/projects/websites/this_website/v2">Version 2</a>
        <a class="link internal-link" href="/projects/websites/this_website/v3">Version 3</a>
    </nav>
</div>

{% endblock %}
