{% extends "shared/page.html" %}

{% block title %}
    <title>This Website | David Lybeck</title>
{% endblock %}

{% block content %}
<style>
    .versionBtn{
        display: block;
        font-size: xx-large;
        padding: 30px;
    }

    .versionBtn:hover{
        transform: scale(1.02);
    }
</style>

<div class="container"> 
    <h2 id="location">This Website</h2>

    <h4>Check out the processes behind developing this website:</h4>
    <br>
    <div class="section">
        <a class="link internal-link versionBtn" href="/projects/websites/this_website/v1">Version 1</a>
        <br>
        <a class="link internal-link versionBtn" href="/projects/websites/this_website/v2">Version 2</a>
    </div>
</div>

{% endblock %}