{% extends "shared/page.html" %}

{% block title %}
    <title>Early Education | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="page">
    <div class="container"> 
        <h2 id="location">Early Education</h2>
        <p>Although this isn't too important in terms of what I've done with my education, I thought it could be fun to include! Especially for anyone viewing this from Portland.</p>
        
        <h3><b>Grant High School</b></h3>
        <img class="media" src="/static/images/education/GHS.png">
        <br>
        <br>

        <h3><b>Beaumont Middle School</b></h3>
        <img class="media" src="/static/images/education/BMS.png">
        <br>
        <br>

        <h3><b>Alameda Elementary School</b></h3>
        <img class="media" src="/static/images/education/AES.png">
    </div>
  </div>
{% endblock %}