<!doctype html>
<html lang="en" class="main">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
    name="description"
    content="A place to explore aspects of David Lybeck's Life">
      {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/base.css">
  </head>
  <body>
    {% include "components/navbar.html" %}
    {% block content %}
    {% endblock %}


    <script src="/static/scripts/homeButton.js"></script>
    <script src="/static/scripts/mini-pages/openPage.js"></script>
    <script src="/static/scripts/tileData.js"></script>
    <script src="/static/scripts/tileCreation.js"></script>
    <script src="/static/scripts/tileMovement.js"></script>
    <script src="/static/scripts/urlHandler.js"></script>
    <script src="/static/scripts/map.js"></script>
    <script src="/static/scripts/tripleTapHome.js"></script>
    <script src="/static/scripts/homeButton.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>