<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/page.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <button onclick="toTop()" id="topBtn" title="Go to top">Top</button>
    
    {% block scripts %}
    {% endblock %}
    <script src="/static/scripts/mini-pages/backToTop.js?v=2" type="text/javascript"></script>
    <script src="/static/scripts/mini-pages/handleRoutes.js?v=2" type="text/javascript"></script>
  </body>
</html>