{% extends "shared/page.html" %}

{% block title %}
    <title>This Website v1 | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
    <h2 id="location">DavidLybeck.com Version 1</h2>
    <p>Here are some text and photos documenting the development of version 1 of this website:</p>

    <div class="section">
        <h3>December 23rd 2022</h3>
        <img class="media" src="/static/images/projects/this_website/v1/1.webp">
        <p>This is what i considered to be the first base model of my website. None of the buttons worked. I was just rying to test out the rough idea and color scheme for how it should look.</p>
    </div>
    <div class="section">
        <h3>January 5th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/v1/2.webp">
        <p>At this point I had added working buttons and transitions between pages, aswell as a new background image to see the scrolling from the transition effect. Plus some minor changes on the look of the pages</p>
    </div>
    <div class="section">
        <h3>January 6th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/v1/3.webp">
        <p>For this change I had simply settled on a new background image to use throughout the website</p>
    </div>
    <div class="section">
        <h3>January 10th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/v1/4.webp">
        <p>This is when I was expirimenting with a new type of menu system. I wanted my website to have something unique that stood out from other websites. So I decided to mess with the standard of menus and try this "radial" navigation menu that changes page to page. </p>
    </div>
    <div class="section">
        <h3>January 12th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/v1/5.webp">
        <p>Here I had finalized the placement of the menu and menu button (currently a checkbox).</p>
    </div>
    <div class="section">
        <h3>January 13th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/6.webp">
        <p>This is when I added the animated menu button along with the old home button. I had also moved the page links into the new menu and made it functional</p>
    </div>
    <div class="section">
        <h3>June 13th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/v1/7.webp">
        <p>This is my first (functional) version of my map idea. When testing this website with friends and family, the new menu system proved to be a bit confusing. With the rough map, people now understood that the menu was "taking them somewhere" and made it much easier to comprehend the new meny style. The map also subtly encouraged the user to explore the entire website. In this version I had also lowered the number of links on the menu to make it less overwhelming, both on the map and the menu.</p>
    </div>
    <div class="section">
        <h3>June 18th 2023</h3>
        <img class="media" src="/static/images/projects/this_website/v1/8.webp">
        <p>Here is the close to final version of the map and menu. I moved the map to the center of the menu to save space and moved the home button to the top so it's always visible. I also added a "current location" marker and names for every discovered location.</p>
    </div>
</div>

{% endblock %}