{% extends "shared/page.html" %}

{% block title %}
    <title>This Website v2 | David Lybeck</title>
{% endblock %}

{% block content %}
<div class="container"> 
    <h2 id="location">DavidLybeck.com Version 2</h2>
    <p>Here are some text and photos documenting the development of version 2 of this website:</p>

    <div class="section">
        <h3>January 4th 2025</h3>
        <img class="media" src="/static/images/projects/this_website/v2/1.webp">
        <p>I started version 2 with 2 big changes in mind. 1: Removing the previous map. It was big, slow, and broke the mobile experience. And 2: Keep the feeling of exploring and learning the website like it is a place.
            So instead of habing a large map taking up half the page when the menu is opened, I made the map the website! Allowing the user to explore pages without opening and loading them.
        </p>
    </div>
    <div class="section">
        <h3>January 5th 2025</h3>
        <img class="media" src="/static/images/projects/this_website/v2/2.webp">
        <p>The most noticible changes here are that the navbar size is drastically reduced. This was done to make the blue less overwhelming, as well as improve space for tiles on mobile. As a bonus it also gives the the sleek Iphone-like notch.
            The Home button was also changed to a house shape for easy navigation.
        </p>
    </div>
    <div class="section">
        <h3>January 6th 2025</h3>
        <img class="media" src="/static/images/projects/this_website/v2/3.webp">
        <p>Here, I changed the background from the white paper, to the sand. I chose to do this because I thought it added a bit more depth, with a color other than white or blue, that doesn't overwhelm the tiles.
            This is also when the home button was moved from a pop up and into the navbar. It hides and shows based on whether or not you are at home. Providing a clean transition between states.</p>
    </div>
    <div class="section">
        <h3>January 8th 2025</h3>
        <img class="media" src="/static/images/projects/this_website/v2/4.webp">
        <p>The work here is not too visible in the image, but this is when links were added. Before the url never changed no matter where you are on the page, but now the url changes depending on the tiles viewed.
            This allows people to jump straight to what they want to see if they have the link. Work was also done on the mini-windows to view the tile's pages. </p>
    </div>
    <div class="section">
        <h3>January 10th 2025</h3>
        <img class="media" src="/static/images/projects/this_website/v2/5.webp">
        <p>A big milestone was reached here as it gave the mini windows their full functionality, allowing a windows to be open and closed seamlessly. These windows load in a separate webpage to be viewed. The windows are never deleted and just change based on the tile clicked. You are looking at one right now!</p>
    </div>
    <div class="section">
        <h3>January 11th 2025</h3>
        <img class="media" src="/static/images/projects/this_website/v2/6.webp">
        <p>This is, or is at least very close to the website you see now. The big changes are a back button to navigate the mini-windows, and cleaned up versions of all the pages in the previous version.</p>
    </div>
</div>

{% endblock %}